<%- layout('layouts/main') %>
<div alig="center"><h1>BIENVENIDOS A LA LIBRERIA DI-LIRIO</h1></div>

<body style="background-image: url(https://fondosmil.com/th/21776.jpg);"> 
    <div alig="center"><img src="https://fondosmil.com/th/21776.jpg"  alt="Logo"></div>
    
</body>