<%- layout('layouts/main') %>


<body style="background-image: url(https://fondosmil.com/th/21776.jpg);"> 
    <div alig="center"><img src="https://fondosmil.com/th/21776.jpg"  alt="Logo"></div>
    
</body>