<!-- <%- layout('layouts/main') %> -->

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body style="background-image: url(https://fondosmil.com/th/21776.jpg);">

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#mangas" onclick="w3_close()" class="w3-bar-item w3-button">Mangas</a>
  <a href="#comics" onclick="w3_close()" class="w3-bar-item w3-button">Comics</a>
  <a href="#libros" onclick="w3_close()" class="w3-bar-item w3-button">Libros</a>
</nav>

<!-- Top menu -->

<div class="w3-top">
  <div class="w3-white w3-xlarge" style="background-color:rgb(255, 255, 255); max-width:1000px; height: 70px; margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">&#9776;</div>
    <a class="nav-link" href="/profile">Perfil</a>
    
  </div>
</div>

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
  <hr id="mangas">
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="MangaKnYT1">
    <div class="w3-quarter">
      <img src="https://m.media-amazon.com/images/I/61Pi8jqIO4L.jpg" alt="Tomo 1" style="width: 250px; height: 400px;">
      <h3><b>Tomo 1 Kymetsu no Yaiba</b></h3>
      <h4><b>$ 299.00 x 3</b></h4>
    </div>
    <div class="w3-quarter">
      <img src="https://elmundodeshirohome.files.wordpress.com/2020/08/el-manga-dr.-stone-revela-la-portada-de-su-volumen-17.jpg" alt="Dr stone" style="width: 250px; height: 400px;">
      <h3><b>Tomo 17 Dr Stome</b></h3>
      <h4><b>$ 299.00 x 5</b></h4>
    </div>
    <div class="w3-quarter">
      <img src="https://elmundodeshirohome.files.wordpress.com/2020/10/el-manga-chainsaw-man-revela-la-portada-de-su-volumen-9.jpg" alt="Chainsawman" style="width: 250px; height: 400px;">
      <h3><b>Tomo 9 Chainsawman</b></h3>
      <h4><b>$ 199.00 x 4</b></h4>
    </div>
    <div class="w3-quarter">
      <img src="https://otakudesho.net/wp-content/uploads/2020/10/nagatoro-manga-9-2_waifu2x_art_noise3_scale_tta_1.png" alt="Nagatoro" style="width: 250px; height: 400px;">
      <h3><b>Tomo 9 Nagatoro</b></h3>
      <h4><b>$ 199.00 x 6</b></h4>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://www.anmosugoi.com/wp-content/uploads/2021/05/Shuumatsu-no-Valkyrie-manga-11.jpg" alt="Shuumatsu-no-Valkyrie" style="width: 250px; height: 400px;">
      <h3><b>Tomo 11 Shuumatsu no Valkyrie</b></h3>
      <h4><b>$ 299.00 x 3</b></h4>
    </div>
    <div class="w3-quarter">
      <img src="https://i0.wp.com/www.bitme.gg/wp-content/uploads/2021/05/Jujutsu-Kaisen-manga-volumen-16-portada.jpg?resize=1280%2C2013&ssl=1" alt="Jujutsu-Kaisen" style="width: 250px; height: 400px;">
      <h3><b>Tomo 16 Jujutsu Kaisen</b></h3>
      <h4><b>$ 199.00 x 4</b></h4>
    </div>
  </div>

  <hr id="comics">

  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://cdn.shopify.com/s/files/1/0051/8805/9206/products/marvel-basicos-amazing-spider-man-absolute-carnage-1_1024x1024@2x.jpg?v=1597355149" alt="Marvel Básicos - The Amazing Spider-Man: Absolute Carnage" style="width: 250px; height: 400px;">
      <h3><b>Marvel Básicos - The Amazing Spider-Man: Absolute Carnage</b></h3>
      <h4><b>$ 299.00 x 3</b></h4>
    </div>
    <div class="w3-quarter">
      <img src="https://cdn.shopify.com/s/files/1/0051/8805/9206/products/Absolute-Carnage-1_1024x1024@2x.jpg?v=1581104214" alt="Marvel Deluxe: Absolute Carnage" style="width: 250px; height: 400px;">
      <h3><b>Marvel Deluxe: Absolute Carnage</b></h3>
      <h4><b>$ 299.00 x 4</b></h4>
    </div>
    <div class="w3-quarter">
      <img src="https://cdn.shopify.com/s/files/1/0051/8805/9206/products/Marvel-Deluxe-La-Muerte-de-Wolverine-1-cover_1024x1024@2x.jpg?v=1543613393" alt="Marvel Deluxe: La Muerte de Wolverine" style="width: 250px; height: 400px;">
      <h3><b>Marvel Deluxe: La Muerte de Wolverine</b></h3>
      <h4><b>$ 299.00 x 3</b></h4>
    </div>
  </div>
  
  </div>
  
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>Contactanos</h3>
      <p>Calle Coronel Fernando Núñez No 7 A</p>
      <p>Zona Centro</p>
      <p>38940 Yuriria, Gto.</p>
    </div>
  

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Jujutsu Kaisen</span> <span class="w3-tag w3-black w3-margin-bottom">One Punch</span> <span class="w3-tag w3-black w3-margin-bottom">Naruto</span> <span class="w3-tag w3-black w3-margin-bottom">Marvel Básicos</span>
        <span class="w3-tag w3-black w3-margin-bottom">Kymetsu no Yaiba</span> <span class="w3-tag w3-black w3-margin-bottom">Tokyo Ghoul</span> <span class="w3-tag w3-black w3-margin-bottom">Marvel Deluxe</span>
        <span class="w3-tag w3-black w3-margin-bottom">Dr Stone</span> <span class="w3-tag w3-black w3-margin-bottom">Hanako Kun</span>
        <span class="w3-tag w3-black w3-margin-bottom">Nagatoro</span> <span class="w3-tag w3-black w3-margin-bottom">Tokyo Revengers</span> <span class="w3-tag w3-black w3-margin-bottom">Dragon Ball</span>
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>